<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-8 offset-2">
        <body>
            <br>
            <h2><b>Edit your Listing</b></h2>
            <br>
            <form action="/listings/<%= list._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title"  class="form-label">Title</label>
                    <input name="listing[title]" value="<%= list.title %>"" class="form-control" required>
                    <div class="invalid-feedback">Enter a valid Title</div>
                </div>

                <div class="mb-3">
                    Original Listing Image
                    <img src="<%= list.image.url %>">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input name="listing[image]" type="file" class="form-control">
                </div>

                <div class="mb-3"> 
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required> <%= list.description %>  </textarea>
                    <div class="invalid-feedback">Enter a valid Description</div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" value="<%= list.location %>"  class="form-control" required>
                    <div class="invalid-feedback">Enter a valid Location</div>
                </div>
                
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" value="<%= list.price %>"  class="form-control" required>
                        <div class="invalid-feedback">Enter a valid Price</div>
                    </div>
 
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" value="<%= list.country %>"  class="form-control" required>
                        <div class="invalid-feedback">Enter a valid Country</div>
                    </div>
                </div>
                

                <br>
                <button class="btn btn-dark edit-btn mb-3"><b>Edit</b></button>
                <br>
            </form>
        </body>
    </div>
</div>
        