<% layout("/layouts/boilerplate") %>
<body>
     <h2 class="mt-3"><b>Listing Details !&#127968;</b></h2>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card" >
                <img src=<%= listingChosen.image.url %> class="card-img-top" alt="listingImage">
                <div class="card-body">
                    <h5 class="card-title mt-2 fw-bold"><%= listingChosen.title %></h5>
                    <p class="card-text">Owned By - <%= listingChosen.owner.username %></p>
                    <p class="card-text"><%= listingChosen.description %></p>
                    <p class="card-text"><%= listingChosen.country %></p>
                    <p class="card-text"><%= listingChosen.location %></p>
                    <p class="card-text">&#8377; <%= listingChosen.price?.toLocaleString("en-IN") %></p>
                    <% if (currUser && currUser._id.equals(listingChosen.owner._id)) { %>
                        <div class="btns">
                            <a href="/listings/<%= listingChosen._id %>/edit" class="btn btn-primary fw-bold">Edit</a>
                            <form action="/listings/<%= listingChosen._id %>?_method=DELETE" method="POST">
                                <button class="mt-2 mb-3 btn btn-danger fw-bold">Delete this listing</button>
                            </form>
                        </div>
                    <% } %>
                    <hr>

                    <div class="col-8 offset-2 mb-3">
                        
                        <form action="/listings/<%= listingChosen._id %>/reviews" method="post" novalidate class="needs-validation">
                            <div class="mb-2 mt-2">
                                <label class="form-label form-range" for="rating">Rating :</label>
                                <fieldset class="starability-slot">
                                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                    <label for="first-rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                    <label for="first-rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                    <label for="first-rate3" title="Average">3 stars</label>
                                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                    <label for="first-rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                    <label for="first-rate5" title="Amazing">5 stars</label>
                                </fieldset>
                            </div>
                            <div>
                                <label class="form-label" for="comment">Comment :</label>
                                <textarea class="form-control" name="review[comment]" id="comment" cols="30" rows="10" required></textarea>
                                <div class="invalid-feedback">Please enter a valid comment</div>
                            </div>
                            <br>
                            <button class="btn btn-outline-dark">Submit</button>
                        </form>
                        

                        <hr>
                        <p>All Reviews</p>
                        <div class="row">
                            <% for(let review of listingChosen.reviews) {%>
                                <div class="card col-5 mb-2 ms-2 reviewcard">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= review.author.username %></h5>
                                        <p class="card-text"><%= review.comment %></p>
                                        <p class="starability-result" data-rating="<%= review.rating %>"> </p>
                                    </div>
                                    <form action="/listings/<%= listingChosen._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                        <button class="mb-2 btn btn-dark fw-bold">Delete</button>
                                    </form>
                                </div>
                                
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

   
    
</body>